In [3]:
import pandas as pd

In [11]:
#1.
data={"a":4, "b":8, "c":15, "d":16, "e":23,"f":42}
ser=pd.Series(data)
print(ser)

a     4
b     8
c    15
d    16
e    23
f    42
dtype: int64

In [13]:
#2.
data2=[i+3 for i in range(1,10,1)]
ser2=pd.Series(data2)
print(ser2)

0     4
1     5
2     6
3     7
4     8
5     9
6    10
7    11
8    12
dtype: int64

In [17]:
#3.
dat3={"Name":["Alice","Bob","Claire"],"Age":[25,30,27],"Gender":["Female","Male","Female"]}
df=pd.DataFrame(dat3)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [19]:
#4.
"""Data-Frame is a two dimensional Table with  labeled rows and columns  like a excel sheet,and series is a one-dimensional labelled array like a list"""

'Data-Frame is a two dimensional Table with  labeled rows and columns  like a excel sheet,and series is a one-dimensional labelled array like a list'

In [21]:
#5

""" 1.df=pd.read_csv('data.csv') #To read an csv file
    2.df['column_name']#to select a column
    3.df.head() #to show first 5 rows of a data frame
    4.df.drop("column's names") #dropping columns"""

' 1.df=pd.read_csv(\'data.csv\') #To read an csv file\n    2.df[\'column_name\']#to select a column\n    3.df.head() #to show first 5 rows of a data frame\n    4.df.drop("column\'s names") #dropping columns'

In [25]:
#6.
"""A Panel was a three-dimensional data structure used for handling multi-dimensional data.
Since Pandas 1.0.0, Panel has been removed, and MultiIndex DataFrames or xarray are recommended instead.

Series: Mutable
DataFrame:  Mutable
Panel:  Mutable"""

'A Panel was a three-dimensional data structure used for handling multi-dimensional data.\nSince Pandas 1.0.0, Panel has been removed, and MultiIndex DataFrames or xarray are recommended instead.\n\nSeries: Mutable\nDataFrame:  Mutable\nPanel:  Mutable'

In [37]:
#7.
data1=pd.Series([chr(i) for i in range(65,90,5)])
data2=pd.Series([i-8 for i in range(65,90,5)])
data3=pd.Series([i+18 for i in range(65,90,5)])

df7=pd.DataFrame({"C1":data1,"C2":data2,"C3":data3})
print(df7)

  C1  C2   C3
0  A  57   83
1  F  62   88
2  K  67   93
3  P  72   98
4  U  77  103